{% extends "master.html.twig" %}

{% block content %}
<div class="card mb-3 about-border">
  <img src="images/aboutus1.jpg" class="card-img-top" alt="...">
  <div class="card-body about-body">
    <h5 class="card-title">About us</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Aenean id bibendum odio. Aliquam commodo nisl gravida, dignissim orci quis, auctor nisl. Donec pulvinar, ligula quis dictum interdum, nunc urna ullamcorper turpis, at semper sem massa vel nulla. Vivamus lectus lorem, lobortis sit amet lacinia id, venenatis vel elit. Phasellus eu ipsum a elit fermentum ultrices non gravida odio. Etiam efficitur nibh at condimentum commodo. Fusce sit amet nunc vel urna rhoncus vehicula. Sed vitae purus eu lectus pulvinar pulvinar sit amet nec enim. Fusce ut est blandit, lobortis neque non, tincidunt sapien. Quisque commodo mauris a velit eleifend, et laoreet augue posuere. Suspendisse potenti. Pellentesque mollis massa eu eros posuere, non blandit lacus interdum. Sed risus mauris, fermentum ut velit in, dapibus consectetur lacus. Morbi vulputate sollicitudin nisi eget facilisis.

Fusce in venenatis mauris, et iaculis erat. Mauris finibus sollicitudin mattis. Quisque vitae tempor ante. Integer sodales congue lectus, ut consequat ante scelerisque non. Aliquam bibendum risus id urna molestie ultrices. Praesent rhoncus mattis erat, non auctor felis condimentum et. Sed tincidunt mattis cursus.

Donec semper dui non ullamcorper venenatis. Quisque felis leo, scelerisque eget eleifend a, sodales in ligula. Praesent hendrerit laoreet ultricies. Donec eu malesuada tortor. Maecenas ex lectus, molestie ut interdum at, tincidunt ac dui. Phasellus eleifend auctor nisl sed laoreet. Mauris ultrices enim in mauris tristique consectetur. Sed porta sapien hendrerit interdum porttitor. Aenean vitae vehicula massa, quis ullamcorper mauris. Proin id augue blandit, convallis purus lobortis, gravida arcu. Proin ante nibh, aliquet non ex in, elementum malesuada magna. Fusce commodo vehicula congue.</small></p>
  </div>
</div>
{% endblock %}