{% extends "master.html.twig" %}

{% block content %}
    <div class="text-center" style="margin-top: 50px">
        <i class="fas fa-tools text-white display-1 mb-4" ></i>
        <h3 class="text-center text-white">This page is under construction!</h3>    
    </div>

{% endblock %}

